# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7d6937bca41fbb5cd224ec5030f1b7a14f5f69c9fae940280f40c45c2b1d9b249c2ce9881d962653a022e325a9389def83a3c08604fc0bcf7e90b6c866ab77eb

test:
  secret_key_base: 82f46c068272346a12aea16938f0c3bbcf93f3e0b58d6132a3825f085e193044368a6a91d3ba16cff0088d01ff410a09a0191c6b03b9e6735f1942c572c34c8f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
